@font-face{
	font-family:'Yekan';
	src:url("../fonts/YekanWeb-Regular.eot");
	src:url("../fonts/YekanWeb-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/YekanWeb-Regular.woff") format("woff"),url("../fonts/YekanWeb-Regular.ttf") format("truetype"),url("../fonts/YekanWeb-Regular.svg#YekanWeb-Regular") format("svg");
	font-style:normal;
	font-weight:normal;
	text-rendering:optimizeLegibility
}

@font-face{
	font-family:'YekanNumbers';
	src:url("../fonts/YekanNumbers-Regular.eot");
	src:url("../fonts/YekanNumbers-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/YekanNumbers-Regular.woff") format("woff"),url("../fonts/YekanNumbers-Regular.ttf") format("truetype"),url("../fonts/YekanNumbers-Regular.svg#YekanNumbers-Regular") format("svg");
	font-style:normal;
	font-weight:normal;
	text-rendering:optimizeLegibility
}


body {
	font-family:  "Yekan","YekanNumbers", Tahoma;
	font-size: 13;
	background-color: #F0F0F0;
	background-image: url("../images/symphony.png");
	background-attachment: fixed;
}

.box {
border: 1px solid #ccc;
border-radius:10px;
  	padding:5px;     
}

.white {
	background-color: #FFF;
}

h1, h2, h3, h4 {
	font-family: "Yekan", "YekanNumbers";
}

table {
	font-size: 0.9em;
}

.gmap {
	width: 100%;
	min-height: 175px;
}

.ps-current {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	/* box-shadow: 0 0 7px #ccc; */
	/* border: 1px solid #ccc; */
	/* 	left: -5px; */
	background: #fff;

	displaye: block;
}





/* Override navbar color */
.navbar-default {
	background-color: #6b686f;
	border-color: #708868;
}
.navbar-default .navbar-brand {
	color: #c7d3c0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #c7d3c0;
}
.navbar-default .navbar-nav > li > a {
	color: #c7d3c0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #708868;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #708868;
}
.navbar-default .navbar-toggle {
	border-color: #708868;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #708868;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #c7d3c0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #c7d3c0;
}
.navbar-default .navbar-link {
	color: #c7d3c0;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #c7d3c0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #708868;
	}
}

