/* @font-face{
	font-family:'B Yekan';
	src:url("http://netbarg.com/assets/site/fonts/YekanWeb-Regular.eot");
	src:url("http://netbarg.com/assets/site/fonts/YekanWeb-Regular.eot?#iefix") format("embedded-opentype"),url("http://netbarg.com/assets/site/fonts/YekanWeb-Regular.woff") format("woff"),url("http://netbarg.com/assets/site/fonts/YekanWeb-Regular.ttf") format("truetype"),url("http://netbarg.com/assets/site/fonts/YekanWeb-Regular.svg#YekanWeb-Regular") format("svg");
	font-style:normal;
	font-weight:normal;
	text-rendering:optimizeLegibility
} */




body {
	font-family: "B Yekan", Tahoma;
	font-size: 13;
	background-color: #F0F0F0;
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;
}

.box {
border: 1px solid #ccc;
border-radius:10px;
  	padding:5px;     
}

.white {
	background-color: #FFF;
}

h1, h2, h3, h4 {
	font-family: "B Yekan";
}

table {
	font-size: 0.9em;
}

.gmap {
	width: 100%;
	min-height: 175px;
}

.ps-current {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	/* box-shadow: 0 0 7px #ccc; */
	/* border: 1px solid #ccc; */
	/* 	left: -5px; */
	background: #fff;

	displaye: block;
}