.carousel-caption {
	
}

.productbox a:hover {
	text-decoration: none;
}

.carousel-caption p, .carousel-caption h3 {
	background-color: rgba(0, 0, 0, 0.8);
}

/* CSS used here will be applied after bootstrap.css */
.productbox {
	position: relative;
	border: 2px solid #ddd;
	border-radius: 10px;
	-webkit-transition: all .2s ease-in-out;
	font-size: 20px;
	margin-bottom:15px;
	margin-left:0px;
	padding:0;
}

.caption {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	position: relative;
	bottom: 0;
	width: 100%;
	max-height: 50%;
	overflow: hidden;
	font-size: 13px;
	color: #FFF;
}

}
.caption s {
	font-size: 17px;
}

.finalprice {
	font-size: 17px;
	color: #AAFCAE;
}

.caption h5 {
	margin-top: 0px;
	color: white;
	max-height: 30px;
	/*overflow: hidden;*/
}

.img-responsive img {
	width:100%;

}

/* .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
	.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
	.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
	.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	{
	padding: 5px;
} */

.btn-block {
	margin-top: 5px;
}

.saleoffrate {
	position: absolute;
	top: 10px;
	left: 10px;
	padding-top: 18px;
	text-align: center;
	background-color: rgba(76, 174, 76, 0.8);
	color: #FFFFFF;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	line-height: 13px;
	z-index: 2;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.featured{
	position: relative;
}

.featured .discount {
	position:relative;
	display:inline-block;
	font-size: 1.7em;
	line-height: 27px;
	height: 60px;
	width: 60px;
	background-color: rgba(76, 174, 76, 1);
	color: #FFFFFF;
	text-align: center;	
	padding: 15px;
	 margin:0; 	
	border-radius: 50%;
	left: 13px;
	z-index:2;
}

.featured .square {
	position:relative;
	display:inline-block;
	z-index:1;
	height: 40px;
	background: #F0F0FF;
	margin: 0;
	position: relative;
	
	padding-top: 4px;
	padding-left:18px;
	padding-right:10px;
	text-align: center;
	border-radius: 5%;
}

.productbox:hover .saleoffrate {
	height: 80px;
	width: 80px;
	line-height: 20px;
	font-size: 1.4em;
	padding-top: 30px;
	background-color: rgba(76, 174, 76, 1);
}

.productbox:hover .caption {
	background-color: rgba(0, 0, 0, 0.8);
}




